@import url('./../../../bootstrap-icons/font/bootstrap-icons.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles here */
.display-animate {
    animation: display-animation ease-in-out 1.5s forwards;
}

@keyframes display-animation {
    to {
        scale: 1;
        transform: translate(0);
        opacity: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

/* Navbar */

.nav-ul li{
    &:nth-child(1){
        animation-delay: 0s;
    }
    &:nth-child(2){
        animation-delay: .2s;
    }
    &:nth-child(3){
        animation-delay: .4s;
    }
    &:nth-child(4){
        animation-delay: .6s;
    }
    &:nth-child(5){
        animation-delay: .8s;
    }
    &:nth-child(6){
        animation-delay: 1s;
    }
}

.selected{
    @apply text-main2;
}

/* Sidebar */
.side-item{
    @apply mb-3 block font-bold;
}

.side-item-link {
    @apply block uppercase text-white font-bold transition-all ease-linear duration-300;
    
    &:hover{
        @apply translate-x-2 text-main2;
    }
}

.sidebar-active{
    @apply scale-y-100;
}