/* @import url('./../../../bootstrap-icons/font/bootstrap-icons.css'); */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Importing Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* setting up the fonts */

@tailwind base;
@tailwind components;
@tailwind utilities;

/*** Global Styles here ***/

.roboto {
    font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    scroll-behavior: smooth;
    @apply roboto;
}

.responsive-text {
    font-size: clamp(12px, 3vw, 18px);
}

.section-heading {
    @apply text-main2 font-bold text-xl p-2 my-4 md:text-3xl;
   }

.btn-main{
    @apply 
    relative 
    px-8
    py-2
    rounded-md
    isolation-auto
    z-10
    border-2
    before:absolute
    before:w-full
    before:transition-all
    before:duration-700
    before:hover:w-full
    hover:text-white
    before:-right-full
    before:hover:right-0
    before:rounded-full
    before:bg-main-500
    before:-z-10
    before:aspect-square
    before:hover:scale-150
    overflow-hidden
    before:hover:duration-700
    block text-center
    items-center
    justify-center
    text-sm
    font-semibold
    bg-white
    bg-opacity-15
    backdrop-blur-sm
    border-gray-200
    shadow-sm gap-x-2
    hover:bg-gray-50
    disabled:opacity-50
    disabled:pointer-events-none
    text-main2
    w-fit
    flex-shrink-0
    active:scale-95
    ;
  }

.display-animate {
    animation: display-animation ease-in-out 1.5s forwards;
}

@keyframes display-animation {
    to {
        scale: 1;
        transform: translate(0);
        opacity: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
/* loader */
.loader-svg {
    @apply text-[10em] font-bold;
}

[class*="loader-body"] {
    stroke-width: 3;
    stroke:white;
    fill: transparent;
}
.loader-body-g {
    animation: 5s forwards loader-body-g;
}
@keyframes loader-body-g {
    0% {
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }
    50% {
        stroke: white;
        stroke-width: 3; 
    }
    80%, 100% {
        fill: #0b6b7c;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }
}

.loader-body-s {
    animation: 5s forwards loader-body-s;
}
@keyframes loader-body-s {
    0% {
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }
    50% {
        stroke: white;
        stroke-width: 3; 
    }
    80%, 100% {
        fill: #FFCC00;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }
}
.loader-body-a {
    animation: 5s forwards loader-body-a;
}

@keyframes loader-body-a {
    0% {
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }
    50% {
        stroke: white;
        stroke-width: 3; 
    }
    80%, 100% {
        fill: #9A0000;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }
}

/* Navbar */
.nav-ul li{
    &:nth-child(1){
        animation-delay: 0s;
    }
    &:nth-child(2){
        animation-delay: .2s;
    }
    &:nth-child(3){
        animation-delay: .4s;
    }
    &:nth-child(4){
        animation-delay: .6s;
    }
    &:nth-child(5){
        animation-delay: .8s;
    }
    &:nth-child(6){
        animation-delay: 1s;
    }
}

.selected{
    @apply text-main2;
}

/* Sidebar */
.side-item{
    @apply mb-3 block font-bold;
}

.side-item-link {
    @apply block uppercase text-white font-bold transition-all ease-linear duration-300;
    
    &:hover{
        @apply translate-x-2 text-main2;
    }
}

.sidebar-active{
    @apply scale-y-100;
}

/* hero section */
.hero {
    background-image: url('/assets/images/pcBg.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    &::before{
        content: '';
        @apply absolute h-screen bg-black bg-opacity-30 w-full z-10;
    }
}

@media (max-width: 640px) {
.hero {
    background-image: url('/assets/images/mbBg.jpeg');
    }
}

.call-btn {
    @apply 
    block 
    uppercase
    text-lg
    font-bold
    text-center
    border-2
    border-white
    roboto
    w-[150px]
    md:w-[200px]
    md:text-xl
    text-white
    backdrop-blur-sm
    drop-shadow-md
    shadow-black
    shadow-md
    ;
    height: 40px;
    border-radius: 100px 0;
    line-height: 40px;
    transition: border-radius ease .6s, color 1s, background-color ease 1s;
    &:hover{
        border-radius: 0 100px;
        .bi{
            @apply opacity-100;
        }
    }
}
.call-btn-left {
    @apply
    bg-white
    bg-opacity-25
    ;
    &:hover{
        @apply text-white
        bg-transparent
        ;
    }
}
.call-btn-right {
    @apply
    bg-transparent
    ;
    &:hover{
        @apply
        bg-white
        bg-opacity-25
        ;
    }
}

/* about */
.arrow-container{
    @apply transition-transform duration-300;
}

.services-link:hover {
    .arrow-right-1{
        @apply translate-x-0 opacity-100;
    }   
    .arrow-right-2{
        @apply translate-x-full opacity-0;
    }
    .arrow-container {
        @apply translate-x-1;
    }   
}
.services-link:active .block{
   @apply active:scale-90 transition-all duration-200;
}

.about {
    @apply p-2 w-80 sm:w-[60%] text-xs shadow-sm shadow-black rounded-md;
    transition: height 0.5s cubic-bezier(1, 0.63, 0.25, 1.5);
    height: calc-size(auto);
    mask-image: none;
}

.compressed .compressed-about {
    @apply hidden;
}

/* contact us */
.contacts-section{
    background-image: url('/assets/images/bg-1.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.linkedin{
    @apply bg-[#41c0ff];
}
.whatsapp{
    @apply bg-[#46C756] bg-opacity-35;
}

.telephone{
    @apply bg-[blue] bg-opacity-35;
}
.envelope{
    @apply bg-[orangered] bg-opacity-35;
}
.facebook{
    @apply bg-[#0866FF] bg-opacity-35;
}
.twitter-x{
    @apply bg-black;
}

/* gallery */
.gallery-image-1 {
    @apply translate-y-0 translate-x-0;
}
.gallery-image-2 {
    @apply translate-y-[25px] translate-x-[25px];
}
.gallery-image-3 {
    @apply translate-y-[45px] translate-x-[50px];
}
.gallery-image-4 {
    @apply translate-y-[65px] translate-x-[75px];
}
.gallery-image-5 {
    @apply translate-y-[100px] translate-x-[100px];
}

/* articles */
.article-body{
    @apply p-2;
    h1{
        @apply text-main2 font-bold text-xl;
    }
    h2{
        @apply text-lg text-main2;
    }
    h3{
        @apply text-sm text-main2 font-bold;
    }
    p{
        @apply text-black font-light;
    }
}

/* Programs */
.program-container {
    @apply
    sm:w-[75%]
    sm:mx-auto
    p-2
    ;
    h2 {
        @apply
        font-bold
        text-3xl
        text-main-500
        ;
    }
    p {
        @apply
        p-2
        font-light
        ;
    }

    h3 {
        @apply
        text-xl
        font-bold
        p-2
        text-gray-400
        ;
    }
    h4 {
        @apply
            font-bold
            text-lg
            ;
    }
    ul{
        @apply
        list-disc
        p-2
        pl-6
        font-light
        ;
    }
}