/* @import url('./../../../bootstrap-icons/font/bootstrap-icons.css'); */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles here */

* {
    scroll-behavior: smooth;
}

.display-animate {
    animation: display-animation ease-in-out 1.5s forwards;
}

@keyframes display-animation {
    to {
        scale: 1;
        transform: translate(0);
        opacity: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

/* loader */
.loader-svg {
    @apply text-[10em] font-bold;
}

[class*="loader-body"] {
    stroke-width: 3;
    stroke:white;
    fill: transparent;
}
.loader-body-g {
    animation: 2s infinite alternate loader-body-g;
}
@keyframes loader-body-g {
    0% {
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }
    50% {
        stroke: white;
        stroke-width: 3; 
    }
    80%, 100% {
        fill: #0b6b7c;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }
}

.loader-body-s {
    animation: 2s infinite alternate loader-body-s;
}
@keyframes loader-body-s {
    0% {
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }
    50% {
        stroke: white;
        stroke-width: 3; 
    }
    80%, 100% {
        fill: #FFCC00;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }
}
.loader-body-a {
    animation: 2s infinite alternate loader-body-a;
}

@keyframes loader-body-a {
    0% {
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }
    50% {
        stroke: white;
        stroke-width: 3; 
    }
    80%, 100% {
        fill: #9A0000;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }
}


/* Navbar */
.nav-ul li{
    &:nth-child(1){
        animation-delay: 0s;
    }
    &:nth-child(2){
        animation-delay: .2s;
    }
    &:nth-child(3){
        animation-delay: .4s;
    }
    &:nth-child(4){
        animation-delay: .6s;
    }
    &:nth-child(5){
        animation-delay: .8s;
    }
    &:nth-child(6){
        animation-delay: 1s;
    }
}

.selected{
    @apply text-main2;
}

/* Sidebar */
.side-item{
    @apply mb-3 block font-bold;
}

.side-item-link {
    @apply block uppercase text-white font-bold transition-all ease-linear duration-300;
    
    &:hover{
        @apply translate-x-2 text-main2;
    }
}

.sidebar-active{
    @apply scale-y-100;
}

/* hero section */

.call-btn {
    @apply 
    block 
    uppercase
    text-lg
    font-bold
    text-center
    border-2
    border-white
    ;
    width: 150px;
    height: 40px;
    border-radius: 100px 0;
    line-height: 40px;
    transition: border-radius ease .6s, color 1s, background-color ease 1s;
    &:hover{
        border-radius: 0 100px;
        .bi{
            @apply opacity-100;
        }
    }
}
.call-btn-left {
    @apply
    bg-white
    text-main-500
    ;
    &:hover{
        background-color: transparent;
        color: white;
    }
}
.call-btn-right {
    @apply
    bg-transparent
    text-white
    ;
    &:hover{
        background-color: white;
        @apply text-main-500;
    }
}