/* @import url('./../../../bootstrap-icons/font/bootstrap-icons.css'); */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Importing Roboto and Lilita */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/* setting up the fonts */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles here */

* {
    scroll-behavior: smooth;
    /* font-family: "Roboto"; */
}

.roboto {
    font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.lilita {
  font-family: 'Lilita One', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
}

.responsive-text{
    @apply text-sm;
}

.display-animate {
    animation: display-animation ease-in-out 1.5s forwards;
}

@keyframes display-animation {
    to {
        scale: 1;
        transform: translate(0);
        opacity: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

/* loader */
.loader-svg {
    @apply text-[10em] font-bold;
}

[class*="loader-body"] {
    stroke-width: 3;
    stroke:white;
    fill: transparent;
}
.loader-body-g {
    animation: 2s infinite alternate loader-body-g;
}
@keyframes loader-body-g {
    0% {
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }
    50% {
        stroke: white;
        stroke-width: 3; 
    }
    80%, 100% {
        fill: #0b6b7c;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }
}

.loader-body-s {
    animation: 2s infinite alternate loader-body-s;
}
@keyframes loader-body-s {
    0% {
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }
    50% {
        stroke: white;
        stroke-width: 3; 
    }
    80%, 100% {
        fill: #FFCC00;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }
}
.loader-body-a {
    animation: 2s infinite alternate loader-body-a;
}

@keyframes loader-body-a {
    0% {
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }
    50% {
        stroke: white;
        stroke-width: 3; 
    }
    80%, 100% {
        fill: #9A0000;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }
}


/* Navbar */
.nav-ul li{
    &:nth-child(1){
        animation-delay: 0s;
    }
    &:nth-child(2){
        animation-delay: .2s;
    }
    &:nth-child(3){
        animation-delay: .4s;
    }
    &:nth-child(4){
        animation-delay: .6s;
    }
    &:nth-child(5){
        animation-delay: .8s;
    }
    &:nth-child(6){
        animation-delay: 1s;
    }
}

.selected{
    @apply text-main2;
}

/* Sidebar */
.side-item{
    @apply mb-3 block font-bold;
}

.side-item-link {
    @apply block uppercase text-white font-bold transition-all ease-linear duration-300;
    
    &:hover{
        @apply translate-x-2 text-main2;
    }
}

.sidebar-active{
    @apply scale-y-100;
}

/* hero section */
.hero {
    background-image: url('/assets/images/pcBg.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &::before{
        content: '';
        @apply absolute h-screen bg-black bg-opacity-30 w-full z-10;
    }
}

@media (max-width: 640px) {
.hero {
    background-image: url('/assets/images/mbBg.jpeg');
    }
}

.call-btn {
    @apply 
    block 
    uppercase
    text-lg
    font-bold
    text-center
    border-2
    border-white
    roboto
    w-[150px]
    md:w-[200px]
    md:text-xl
    ;
    height: 40px;
    border-radius: 100px 0;
    line-height: 40px;
    transition: border-radius ease .6s, color 1s, background-color ease 1s;
    &:hover{
        border-radius: 0 100px;
        .bi{
            @apply opacity-100;
        }
    }
}
.call-btn-left {
    @apply
    bg-white
    text-main-500
    ;
    &:hover{
        @apply text-white
        bg-transparent;
        ;
    }
}
.call-btn-right {
    @apply
    bg-transparent
    text-white
    ;
    &:hover{
        @apply text-main-500 bg-white;
    }
}

/* about */
.about{
    .about-header {
        clip-path: polygon(
            0 0,
            80% 0,
            100% 100%,
            0% 100%
        );
    }
}